<div class="form-grid">
  <div class="form-container">
    <!-- Helper Variables -->
    @let repeatTimes = 15; @let subsequentStartIndex = repeatTimes + 1;

    <!-- Previous fields -->
    <ng-container *repeatTimes="repeatTimes; let index = index">
      <ng-container
        *ngTemplateOutlet="fieldGroup; context: { $implicit: index, message: 'Scroll down for picker ⬇️' }"
      ></ng-container>
    </ng-container>

    <!-- Syncfusion Date-Time Picker -->
    <div class="field-group highlight">
      <div class="label">Date Time Picker</div>
      <ejs-datetimepicker
        [format]="dateTimeFormat()"
        [timeFormat]="timeFormat()"
        [enableMask]="enableMaskSupport"
        [maskPlaceholder]="maskPlaceholder"
      ></ejs-datetimepicker>
    </div>

    <!-- Subsequent fields -->
    <ng-container
      *repeatTimes="
        repeatTimes;
        startIndex: subsequentStartIndex;
        let index = index
      "
    >
      <ng-container
        *ngTemplateOutlet="fieldGroup; context: { $implicit: index, message: 'Scroll up for picker ⬆️' }"
      ></ng-container>
    </ng-container>
  </div>
</div>

<ng-template #fieldGroup let-index let-message="message">
  <div class="field-group">
    @let id = `field-${index}`;
    <label [for]="id">Field {{ index }} (Ignore) {{ message }}</label>
    <input type="text" [name]="id" [id]="id" />
  </div>
</ng-template>
